@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <div>An unknown error occurred.</div>
    </body>
</html>